:root {
    --main-text: "Inter";
    --accent-text: "Press Start 2P";

    --main-text-weight: 400;
    --header-text-weight: 700;
    
    --section-max-width: 700px;
    --section-min-width: 375px;
    --width: clamp(375px, 100%, var(--section-max-width));

    --stroke-color: rgba(255, 255, 255, 1);
    --stroke-width: 1px;
    --accent-color: rgba(0, 0, 0, 1);
    --background-image: 
        repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px), /*создает вертикальные полоски шириной 2px, чередует серый и прозрачный цвет, направление слева направо*/
        repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),/*создает такие же горизонтальные полоски*/
        linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);/*эффект изменения насыщенности сверху вниз*/

    --contour__color: #000;
    --core__color: none;
    --main__body__color: none;
    --sparks__color: #f00;
}